<h1>Welcome</h1>
<header id="myHeader">

    <nav class="navbar">

            <a href="">
                <span>
                    <img src="../assets/team-1.jpg" alt="">
                </span>
                <h1>Mayank</h1>
            </a>
            <div class="nav-link">
                <ul class="navigation">
                    <li><a class="#" href="#i_am" routerLink="./home" skipLocationChange="">Home</a></li>
                    <li><a href="#about1" routerLink="./about" skipLocationChange="">About Me</a></li>
                    <li><a href="#what" routerLink="./service" skipLocationChange="">What I Do</a></li>
                    <li><a href="#resume" routerLink="./resume" skipLocationChange="">Resume</a></li>

                    <li><a href="#client" routerLink="./service" skipLocationChange="">Portfolio</a></li>
                    <li><a href="#i_am" routerLink="./resume" skipLocationChange="">Testimonial</a></li>
                    <li><a href="#contact" routerLink="./touch" skipLocationChange="">Contact</a></li>
                    <li class=" btn-primary nav-item text-white" role="button">
                      <a class="nav-link text-white" (click)="logout()">logout</a>
                  </li>
                </ul>

                <ul class="social">
                    <li><a href=""><i style="font-size:24px" class="fa">&#xf17d;</i>
                    </a></li>
                    <li><a href=""><i class="fa fa-twitter" style="font-size:24px"></i>
                    </a></li>
                    <li><a href=""><i style="font-size:24px" class="fa">&#xf09a;</i>
                    </a></li>
                    <li><a href=""><i style="font-size:24px" class="fa">&#xf09b;</i>
                    </a></li>


                </ul>
            </div>

    </nav>

</header>
